@tailwind base;
@tailwind components;
@tailwind utilities;


.a{
  top: -60vh
}

li{
  color:antiquewhite;
  padding: 10px 15px
}

.bgg{
  background: linear-gradient(278deg, #61ddfe, #f6da22, #e28800);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}
  @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


  canvas{

  width:800px;
  height: 567px;
}

.page_center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hid{
  display: none;
}